.vscode/*

#exe file
output/*
!output/.gitkeep
db_bench.exe

#chunk file
OFS/bin/*
!OFS/bin/.gitkeep
TransactionManager/RecoveryManager/bin/*
!TransactionManager/RecoveryManager/bin/.gitkeep

Index/bin/*
!Index/bin/.gitkeep
StorageManager/InsertionQueue/bin/*
!StorageManager/InsertionQueue/bin/.gitkeep

#conf file
StorageManager/LRUCache/config/*
!StorageManager/LRUCache/config/.gitkeep
StorageManager/PersistenceManager/config/*
!StorageManager/PersistenceManager/config/.gitkeep